/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*  HEADER  */

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url("../../resources/images/ic-logo.svg");
  height:50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  margin-top: 3px;
  margin-left: 24px;
}

.companyname {
  text-transform: uppercase;
  font-size: 2rem;
}

#colmar {
  font-weight: 900
  color: black;
}

#academy {
  font-weight: 400;
  color: darkgray;
}

.right ul {
  margin-right: 24px;
  display: flex;
}

.right a {
  padding-left: 16px;
  font-size: 1.5rem;
  text-decoration: none;
}

/* BANNER */

.container1 {
  background-color: gray;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  height: 52rem;
}

.lrgimage {
  background-image: url("../../resources/images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 100%;
}

.supporttext {
  margin-left: 24px;
  line-height: 1.2;
  width: 450px;
}

.supporttext h1 {
  font-size: 3.5rem;
}

.supporttext h2 {
  font-size: 2rem;
  font-family: serif;
}

.supporttext h1, h2, button {
  padding-bottom: 2rem;
}

.button {
  background-color: darkgray;
  border-radius: 10px;
  color: white;
  padding: .5rem 1.5rem;
  text-align: center;
  cursor: pointer;
  width: 400px;
  font-size: 2rem;
}
