/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {  /* Main container used in each vertical section */
  margin: 0 100px 32px 100px;
  padding: 0 24px;
  display: flex;
  align-items: flex-start;
}

.containernoflex {  /* ALTERNATIVE Main container when FLEXBOX not needed (Footer) */
  margin: 0px 100px;
  padding: 0 24px;
}

.lrgimage {  /* Large picture container used in each subsection */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.leftcontainer {  /* Left side 60% width section used in each main container. */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.rightcontainer {  /* Right side 40% width section used in each main container */
  display: flex;
  flex-direction: column;
  height 100%;
  width: 40%;
  margin-left: 24px;
}

.rightcontainerboxes {  /* Right container sub section boxes */
  display: flex;
  height: 33%;
  width: 100%;
  border: 1px solid gray;
  margin: 1px 0;
}

h1 {
  font-size: 3.5rem;
  margin: 32px 0 24px 0;
}

h2 {
  font-size: 2rem;
  font-family: serif;
}

h3 {
  padding: 8px 0;
}

p {
  font-size: 1.5rem;
  font-family: serif;
}

footer {
  font-size: .75rem;
  font-family: sans-serif;
}

.supporttext {
  line-height: 1.2;
  align-self: center;
  padding: 5px;
}

/*  HEADER  */

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lefthead {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url("../../resources/images/ic-logo.svg");
  height:50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  margin-top: 3px;
  margin-left: 24px;
}

.companyname {
  text-transform: uppercase;
  font-size: 2rem;
}

#colmar {
  font-weight: 900
  color: black;
}

#academy {
  font-weight: 400;
  color: darkgray;
}

.righthead ul {
  margin-right: 24px;
  display: flex;
}

.righthead a {
  padding-left: 16px;
  font-size: 1.5rem;
  text-decoration: none;
}

/* BANNER */

.container.banner {
    height: 52rem;
    background-color: gray;
    align-items: center;
}

.bannerpic {
  background-image: url("../../resources/images/banner.jpg");
}

.bannersupporttext {
  padding-left: 16px;
}

.bannersupporttext h2, button {
  padding-bottom: 2rem;
}

.button {
  background-color: darkgray;
  border-radius: 10px;
  color: white;
  padding: .5rem 1.5rem;
  text-align: center;
  cursor: pointer;
  width: 90%;
  font-size: 2rem;
  border: 3px solid black;
}

/* LEARN */

.container.learn {
    height: 100%;
    background-color: white;
}

.learnpic {
  background-image: url("../../resources/images/information-main.jpg");
  height: 400px;
}



.rightcontainerboxes img {
  width: 35%;
  height: auto;
  padding: 16px 16px;
}
