/* Universal Styles */

html {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
}

.container {  /* Main container used in each vertical section */
  margin: 0 100px;
  padding: 2rem 0 2rem 1.5rem;
  display: flex;
  align-items: flex-start;
  background-color: #FFF1C6;
}

.container:hover h1 {
  text-shadow: 6px 3px darkgray;
  transition: text-shadow 500ms linear;
}

.containernoflex {  /* ALTERNATIVE Main container when FLEXBOX not needed */
  margin: 30px 100px;
  padding: 0 1.5rem;
  background-color: #FFF1C6;
  border: 2px #BD912D solid;
}

.lrgimage {  /* Large picture container used in each subsection */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.leftcontainer {  /* Left side 60% width section used in each main container. */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.rightcontainer {  /* Right side 40% width section used in each main container */
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 1.5rem;
}

.rightcontainerboxes {  /* Right container sub section boxes */
  display: flex;
  align-items: center;
  height: 33%;
  width: 100%;
  border: 1px solid gray;
  margin: 1px 0;
  transition: background-color 250ms linear 250ms;
}

.rightcontainerboxes:hover {
  background-color: #FFF1C6;
}

h1 {
  font-size: 3.5rem;
  margin: 2rem 0 1.5rem 0;
  font-family: "Libre Franklin", serif;
  letter-spacing: 2px;
}

h2 {
  font-size: 2rem;
  font-family: "Libre Franklin", serif;
  letter-spacing: 2px;
}

h3 {
  padding: .5rem 0;
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
}

footer {
  font-size: .75rem;
  font-family: sans-serif;
}

.supporttext {
  line-height: 1.2;
}

.rightcontainerboxes img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.sectionheading {
  text-align: center;
  padding: .5rem 0;
}

.nocolor {
  background-color: white;
  border: none;
}

/*  HEADER  */

header, footer {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lefthead {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url("../../resources/images/ic-logo.svg");
  height:3.5rem;
  width: 3.5rem;
  background-position: center;
  background-size: cover;
  margin-top: .25rem;
  margin-left: 124px;
}

.companyname {
  text-transform: uppercase;
  font-size: 2rem;
}

#colmar {
  font-weight: 700;
  color: black;
  font-family: "Libre Franklin", sans-serif;
  letter-spacing: 2px;
  transition: all 1s ease-out 250ms;
}

#colmar:hover {
  font-size: 3rem;
}

#academy {
  font-weight: 700;
  color: darkgray;
  font-family: "Libre Franklin", sans-serif;
  letter-spacing: 2px;
  transition: all 1s ease-out 250ms;
}

#academy:hover {
  font-size: 3rem;
}

.righthead ul {
  margin-right: 1.5rem;
  display: flex;
}

.righthead a {
  padding-left: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "Libre Franklin", sans-serif;
  transition: font-weight .250ms linear .250ms;
}

.righthead a:hover {
  font-weight: 900;
  color: #0F3AA4;
}

nav {
  padding-right: 100px;
}

/* BANNER */

.container.banner {
    height: 100%;
    align-items: center;
}

.bannerpic {
  background-image: url("../../resources/images/banner.jpg");
  height: 740px;
}

.bannersupporttext {
  padding-left: 1rem;
}

.bannersupporttext h2, button {
  padding-bottom: 2rem;
}

.button {
  background-color: darkgray;
  border-radius: 20px;
  color: white;
  padding: .5rem 1.5rem;
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 2rem;
  border: 3px solid black;
  font-family: "Libre Franklin";
  font-weight: 400;
  transition: all 100ms linear;
}

button:active {
  background-color: #2F343F
}

.container.banner.mobile {
  display: none;
}

/* INFO */

.container.learn {
    height: 100%;
    background-color: white;
}

.learnpic {
  background-image: url("../../resources/images/information-main.jpg");
  height: 400px;
}

/* COURSES */

.containernoflex.sectionheading {
  padding: 0;
}

.container.startlearning {
  align-items: stretch;
  margin: 0 172px;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

.rightcontainer.courses {
  margin-left: 0;
  margin-bottom: 32px;
  background-color: white;
  width: 32%;
  align-items: stretch;
  background-color: white;
}

.rightcontainer.courses img {
  width: 100%;
}

.supporttext.courses {
  line-height: 1.2;
  padding: 0;
}

.supporttext.courses h2 {
  line-height: 1.2;
  padding: 1rem 0 0 1rem;
}

.supporttext.courses h3 {
  line-height: 1.2;
  padding: .5rem 0 0 1rem;
  font-family: "Libre Franklin";
  font-weight: 400;
}

.supporttext.courses h4 {
  line-height: 1.5;
  padding: .5rem 0 1.5rem 1rem;
}

/* THESIS EXHIBIT */

.rightcontainerboxes.thesis {
  border: none;
}

/* FOOTER */

#footer {
  color: gray;
  margin-left: 124px;
  margin-bottom: 2rem;
  height: auto;
  margin-top: 1rem;
}

#footer a {
  padding-left: 1rem;
  font-size: 1rem;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px ) and (min-width: 1025px) {
  html {
    font-family: "Libre Baskerville", serif;
    font-size: 12px;
  }
}

/*tablet horizontal */
@media only screen and (max-width: 1024px ) {
  html {
    font-family: "Libre Baskerville", serif;
    font-size: 12px;
  }

  .container {
    margin: 0;
    padding: 2.66rem 0;
  }

  .logo {
    margin-left: 0;
  }

  nav {
    padding-right: 0;
  }

  .container.banner.mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .lrgimage.bannerpic {
    width: 100%;
  }

  .bannersupporttext {
    padding-left: 1.6rem;
  }

  .container.banner {
    display: none;
  }

  .container.info.nocolor {
    display: none;
  }

  .containernoflex.nocolor {
    display: none;
  }

  .container.info.nocolor.mobile {
    display: flex;
    flex-direction: column;
  }

  .rightcontainer {
    display: flex;
    flex-direction: column;
    width: 98%;
  }

  .rightcontainerboxes {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .rightcontainerboxes img {
    width: 100%;
  }

}
